body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.header{
    text-align: center;
}
.banner img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.navbar{
    background-color: #fdfdfd;
    padding: 15px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar ul li {
    display: inline;
    margin: 0 40px;
}

.navbar ul li a{
    text-decoration: none;
    color: #444;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3 ease;
}


.navbar ul li a:hover{
    color: #f2b3cd;
}
section{
    background-color: #fff5f5;
    width: 100%;
    height: 578px;
    padding-top: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(87, 83, 83, 0.5);
}
.subtexto {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.subtexto{
    position: absolute;
    background: #fff5f5; /* Se precisar de contraste */
    padding: 5px 10px;
    margin-top: 160px;
    margin-left: 80px;
}
.subtexto span{
    font-size: 20px;
}
.modaf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
h1 {
    font-size: 75px;
    font-weight: bold;
    margin-left: 85px;
}
h1 span {
    display: inline-block; /* Faz com que o <span> se comporte como um bloco, mas ainda permita o alinhamento */
}
.img1{
    order: 2;
}
.img1 img{
    width: 800px;
    height: auto;
}

.guarda-roupa{
    background-color: #F3CCC3;
    width: 70%;
    height: 5px;
    margin: 80px auto;
    padding-bottom: 70px;
}

.guarda-roupa h2{
    text-align: center;
    font-size: 30px;
    color: #1e1c1c;
}




.casual{
    width: 100%;
    height: 400px;
    display: flex;
    padding-top: 0;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(87, 83, 83, 0.5);
}
.casual-img img{
    width: 800px;
    height: 400px;
}

.casual h1{
    font-size: 25px;
    margin-top: 175px;
    margin-left: 100px;
    color: #444;
}

.sub-casual h2{
    font-size: 16px;
    margin-top: 150px;
    margin-left: 100px;
    position: absolute;
}




.sofisticada{
    width: 100%;
    height: 400px;
    display: flex;
    padding-top: 0;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(87, 83, 83, 0.5);
    margin-top: 60px;
}

.sofisticada-img img{
    width: 800px;
    height: 400px;
    margin-left: 713px;
}

.sofisticada-img{
    order: 2;
}
.sub-sofisticada h2{
    font-size: 16px;
    display: flex;
    position: absolute;
    margin-left: 100px;
    margin-top: 150px;
}
.sofisticada h1{
    font-size: 25px;
    margin-left: 100px;
    margin-top: 175px;
    position: absolute;
}



.glam{
    width: 100%;
    height: 400px;
    display: flex;
    padding-top: 0;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(87, 83, 83, 0.5);
    margin-top: 60px;
}

.glam-img img{
    width: 800px;
    height: 400px;
}
.sub-glam h2{
    font-size: 16px;
    margin-top: 150px;
    margin-left: 100px;
    position: absolute;
}
.glam h1{
    font-size: 25px;
    margin-top: 175px;
    margin-left: 100px;
    color: #444;
}



.tendencias{
    background-color: #F3CCC3;
    width: 70%;
    height: 5px;
    margin: 80px auto;
    padding-bottom: 70px;
}

.tendencias h2{
    text-align: center;
    font-size: 30px;
    color: #1e1c1c;
}



.look-bege{
    width: 550px;
    height: 500px;
    margin-left: 222px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bege-img img{
    width: 470px;
    height: 400px;
    margin-top: 15px;
}
.container{
    display: flex;
}

.look1 img{
    width: 550px;
    height: 500px;
}



.look-white{
    width: 550px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    order: 2;
}

.white-img img{
    width: 470px;
    height: 400px;
    margin-top: 15px;
}
.container2{
    display: flex;
}

.look2 img{
    width: 550px;
    height: 500px;
    order: 2;
    margin-left: 222px;
}



.look-mistura{
    width: 550px;
    height: 500px;
    margin-left: 222px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mistura-img img{
    width: 470px;
    height: 400px;
    margin-top: 15px;
}
.container3{
    display: flex;
}

.look3 img{
    width: 550px;
    height: 500px;
}



.look-black{
    width: 550px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    order: 2;
}

.black-img img{
    width: 470px;
    height: 400px;
    margin-top: 15px;
}
.container4{
    display: flex;
}

.look4 img{
    width: 550px;
    height: 500px;
    order: 2;
    margin-left: 222px;
}


.look-bandana{
    width: 550px;
    height: 500px;
    margin-left: 222px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bandana-img img{
    width: 470px;
    height: 400px;
    margin-top: 15px;
}
.container5{
    display: flex;
}

.look5 img{
    width: 550px;
    height: 500px;
}


.penteados{
    background-color: #F3CCC3;
    width: 70%;
    height: 5px;
    margin: 80px auto;
    padding-bottom: 70px;
}

.penteados h2{
    text-align: center;
    font-size: 30px;
    color: #1e1c1c;
}


.formal{
    width: 100%;
    height: 400px;
    display: flex;
    padding-top: 0;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(87, 83, 83, 0.5);
}
.formal-img img{
    width: 800px;
    height: 400px;
}

.formal h1{
    font-size: 25px;
    margin-top: 175px;
    margin-left: 100px;
    color: #444;
}

.sub-formal h2{
    font-size: 16px;
    margin-top: 150px;
    margin-left: 100px;
    position: absolute;
}



.romantica{
    width: 100%;
    height: 400px;
    display: flex;
    padding-top: 0;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(87, 83, 83, 0.5);
    margin-top: 60px;
}

.romantica-img img{
    width: 800px;
    height: 400px;
    margin-left: 713px;
}

.romantica-img{
    order: 2;
}
.sub-romantico h2{
    font-size: 16px;
    display: flex;
    position: absolute;
    margin-left: 100px;
    margin-top: 150px;
}
.romantica h1{
    font-size: 25px;
    margin-left: 100px;
    margin-top: 175px;
    position: absolute;
    color: #444;
}


.casual{
    width: 100%;
    height: 400px;
    display: flex;
    padding-top: 0;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(87, 83, 83, 0.5);
    margin-top: 60px;
}
.casual-img img{
    width: 800px;
    height: 400px;
}

.casual h1{
    font-size: 25px;
    margin-top: 175px;
    margin-left: 100px;
    color: #444;
}

.sub-casual h2{
    font-size: 16px;
    margin-top: 150px;
    margin-left: 100px;
    position: absolute;
}



.esportivo{
    width: 100%;
    height: 400px;
    display: flex;
    padding-top: 0;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(87, 83, 83, 0.5);
    margin-top: 60px;
}

.esportivo-img img{
    width: 800px;
    height: 400px;
    margin-left: 713px;
}

.esportivo-img{
    order: 2;
}
.sub-esportivo h2{
    font-size: 16px;
    display: flex;
    position: absolute;
    margin-left: 100px;
    margin-top: 150px;
}
.esportivo h1{
    font-size: 25px;
    margin-left: 100px;
    margin-top: 175px;
    position: absolute;
    color: #444;
}




footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF5F5;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 200px;

    
}
#img_rodape{
    width: 100%;
    
}


.rodape {
    padding: 0 20px;
    margin: auto;
   
}

.linha-vertical {
    width: 2px;
    height: 100px; 
    background-color: #000; 
}

footer p {
    margin: 10px 0;
}
.rodape button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
}

button:hover {
    background-color: #3d4042;
}

.interacao{
    font-size: 15px;
    text-align: start;
}
.redes img{
    width: 35px;
    height: 25px;
}
.redes{
    margin-left: 30px;
}
